LocationManager/Project/Export/*
LocationManager/Extension/project/obj/*
MailSender/Project/Export/*
MailSender/Extension/project/obj/*
ImageSaver/Project/Export/*
ImageSaver/Extension/project/obj/*
*.pibd
*.userprefs
*.sln
MailSender/Project/MailSenderSample.userprefs
MailSender/Project/MailSenderSample.userprefs
MailSender/Project/MailSenderSample.pidb
VideoPlayer copy/*
VideoPlayer/Extension/project/obj/*
VideoPlayer/Project/Export/*